
body {
    font-size: "Times New Roman";
    Color: white;
    background: url('./images/fond.png') ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
#clicker {
    width: 320px;
    height: 200px;
    background: url('./images/play.svg');
    border-style: none;

 }
.btn{
    background: url('./images/pad.png');
    position: relative;
}

.pad {
    cursor: pointer;
}


.btn-losange {
      width: 70px;
      height: 70px;
      padding: 10px;
}
  
.top{
    position: absolute;
    top: 0;
    left: 2;
}
.bottom{
    position: absolute;
    bottom: 0;
    right: 2;
}
#timer{
    position: absolute;
    bottom: 0;
    left: 2;
}